<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .food-item {
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .food-item-name {
    font-size: 18px;
    color: #333;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  .food-item-delete-link {
    color: #dc3545;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
</style>

<p style="color: green;"><%= notice %></p>

<div class="container">
  <h1 class="mb-4">Fridge</h1>

  <div class="row">
    <% @food_items.each do |food_item| %>
      <div class="col-md-4">
        <div class="food-item">
          <div class="food-item-name"><%= food_item.name %></div>
          <%= link_to food_item_path(food_item), method: :delete, data: { confirm: "Are you sure you want to delete this item?" }, class: "food-item-delete-link" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "New food item", new_food_item_path, class: "btn btn-primary" %>
</div>
